html {
    background: #0e84d3;
    background-size: cover;
    font-family: "helvetica neue";
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
        inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* accound for the height of the clock hands */
}

.hand {
    width: 50%;
    background: white;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    height: 10px;
}
.min-hand {
    height: 4px;
}
.second-hand {
    height: 2px;
}

.number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 20px;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;
}

.number1 {
    --rotation: 30deg;
}
.number2 {
    --rotation: 60deg;
}
.number3 {
    --rotation: 90deg;
}
.number4 {
    --rotation: 120deg;
}
.number5 {
    --rotation: 150deg;
}
.number6 {
    --rotation: 180deg;
}
.number7 {
    --rotation: 210deg;
}
.number8 {
    --rotation: 240deg;
}
.number9 {
    --rotation: 270deg;
}
.number10 {
    --rotation: 300deg;
}
.number11 {
    --rotation: 330deg;
}
